<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="auth/login"></ion-back-button>
    </ion-buttons>  
    <ion-title slot="end">WALLA-DETALL</ion-title>  
    <ion-buttons slot="end">
      <ion-img src="assets/images/logo_taronja.svg" class="imatge-top"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>




<ion-content [fullscreen]="true">

  @if (this.producte()) {
    <ion-card class="producte-card">
      <ion-grid>
        <ion-row class="ion-alig-items-center">
    
          <ion-col size="5" size-md="3" class="columna-imatge-centrada">
            <img [src]="producte()!.imatge" alt="Imagen de ejemplo" class="imatge-producte">
          </ion-col>
    
          <ion-col size="7" size-md="9">
            <ion-card-header>
              <ion-card-title class="titol-principal">{{producte()!.nom}}</ion-card-title>
              <ion-card-subtitle>Stock: {{producte()!.stock}} Kg</ion-card-subtitle>
              <ion-card-subtitle>Preu: {{producte()!.preu | number:'1.2-2'}} €/Kg</ion-card-subtitle>
              <ion-card-subtitle>Ubicació: {{producte()?.adresa}} </ion-card-subtitle>
              <ion-card-subtitle>Temporada: {{producte()?.temporada}}</ion-card-subtitle>
              <ion-card-subtitle>Tipus: {{producte()?.tipus}}</ion-card-subtitle>
            </ion-card-header>
    
            <ion-card-content class="icon-container">
              @if(producte()?.enviament){
                <ion-icon name="car-outline" class="icon-gran"></ion-icon>
              }
              @if(producte()?.recogida){
                <ion-icon name="people-outline" class="icon-gran"></ion-icon>        
              }
              <ion-icon [name]="iconEstacio()" class="icon-gran"></ion-icon>
            </ion-card-content>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  }

  
  
  <ion-card class="venedor-card" [routerLink]="['/perfil/'+producte()?.client?.id]">
    <ion-row class="ion-alig-items-center">
      <ion-col size="3" size-md="3">
        <img [src]="producte()?.client?.imatge" alt="Imagen de ejemplo" class="imatge-venedor">
      </ion-col>
      <ion-col size="9" size-md="9">
        <ion-card-header>
          <ion-card-title class="titol-vendedor">Venedor {{producte()?.client?.nom}}, {{producte()?.client?.cognom}}</ion-card-title>
          <ion-card-subtitle class="correu-vendedor">correu: {{producte()?.client?.correu}}</ion-card-subtitle>
        </ion-card-header>
      </ion-col>
    </ion-row>
  </ion-card>
  
  
  @if(producte()?.propietat == true){
    <ion-row class="ion-justify-content-center">

      <ion-col size="auto" class="ion-text-center">
        <ion-button [routerLink]="['/producte',producte()?.id, 'edit']" >
          <ion-icon name="create-outline" slot="start"></ion-icon>          
          Editar
        </ion-button>
      </ion-col>
    
      <ion-col size="auto" class="ion-text-center">
        <ion-button (click)="esborrarProducte()">
          <ion-icon name="trash-outline" slot="start"></ion-icon>
          Esborrar
        </ion-button>
      </ion-col>
    </ion-row>
  } @else {

    <ion-row class="ion-justify-content-center">

      <ion-col size="auto" class="ion-text-center">
        <ion-button (click)="afegirCistella()">
          <ion-icon name="basket-outline" slot="start"></ion-icon>
          Afegir Cistella
        </ion-button>
      </ion-col>

      <ion-col size="auto" class="ion-text-center">
        <ion-button (click)="obrirXat()">
          <ion-icon name="person-add-outline"></ion-icon>          
          Xat
        </ion-button>
      </ion-col>

    </ion-row>


  }

</ion-content>
