ion-toolbar{
    color: white;
    --background: #6e5d99;
}

.imatge-top {
    height: 40px;
}

ion-content {
    --background: #81bd72;
  }

ion-card {
    background-color: #ffffff;
    border-radius: 16px;
    margin-bottom: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}


.icon-gran {
    display: flex;
    justify-content: center;
    align-items: center;

    ion-icon {
        font-size: 50px;
        color: #6e5d99;
    }
}

.text-centre {
    display: flex;
    align-items: center;
    text-align: left;
    padding-left: 0;
}

.tamany-titol {
    font-size: 1.50rem;
    color: #6e5d99;
    font-weight: bold;
}