ion-input {
    --border-radius: 20px;
    --padding-start: 16px;
    --padding-end: 16px;
    --border-width: 3px;
  }
  
  ion-item {
    --border-color: #81bd72;
    --border-style: solid;
    --border-radius: 10px;
    margin-bottom: 16px;
  }
  ion-content {
    --background: #81bd72;
  }
  
  #form-registre {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #f9f9f9;
  }

ion-list {
    background-color: #f9f9f9;
}


ion-button {
    --border-radius: 5px;
    --background: #6e5d99;
}

ion-toolbar{
    color: white;
    --background: #6e5d99;
}

.imatge-top {
    height: 40px;
}