<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/xat"></ion-back-button>
    </ion-buttons>

    <ion-title>{{this.receptor()?.nom}}</ion-title>

    <ion-avatar slot="end" class="avatar-top">
      <img [src]="this.receptor()?.imatge" alt="Avatar del venedor" />
    </ion-avatar>

  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="chat-page">
  <div class="chat-container">
    @for (missatge of missatges(); track $index) {
      <div 
        class="message"
        [class.my-message]="missatge.emisor === this.idEmisor()"
        [class.other-message]="missatge.emisor !== this.idEmisor()">
          <div class="message-header">
            <span class="message-date">{{ missatge.data | date:'dd/MM/yyyy, H:mm' }}</span>
          </div>
          <div class="message-body">
            {{ missatge.text }}
          </div>
      </div>
    }
  </div>
</ion-content>

<ion-footer slot="fixed">
  <ion-item lines="none" class="chat-input">
    <ion-input placeholder="Escriu un missatge..." #input></ion-input>
    <ion-button (click)="enviarMissatge(input.value); input.value = ''">Enviar</ion-button>
  </ion-item>
</ion-footer>