<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
        <ion-button (click)="close()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
  
<ion-content [fullscreen]="true" class="quantitat-page ion-padding">
  
    <ion-card class="quantitat-card">
        <ion-card-content>

        <ion-item class="input-quantitat">
            <ion-input
            type="number"
            label="Quantitat en KG"
            labelPlacement="floating"
            [value]="quantitat()"
            (input)="actualitzarQuantitat($event)"
            ></ion-input>
        </ion-item>

        <div class="preu-container">
            <h2 class="preu-text">Preu: {{ preu() | number:'1.2-2'}} €</h2>
        </div>

        <ion-button expand="block" (click)="afegirCistella()">
            Afegir a la Cistella
        </ion-button>

        </ion-card-content>
    </ion-card>

</ion-content>
  