<ion-header [translucent]="true">
  <ion-toolbar>  
    <ion-title slot="end">WALLA-CISTELLA</ion-title>
    <ion-buttons slot="end">
      <ion-img src="assets/images/logo_taronja.svg" class="imatge-top"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <ion-card class="card-general">
    @if (this.cistella()) {
      <ion-list>
        <ion-grid>
          <ion-row>
            <ion-col class="col-centrat"><strong>Nom</strong></ion-col>
            <ion-col class="col-centrat"><strong>Quantitat</strong></ion-col>
            <ion-col class="col-centrat"><strong>Preu</strong></ion-col>
            <ion-col class="col-centrat"></ion-col>
          </ion-row>
        </ion-grid>
        
        @for (item of cistella()!.productes; track $index) {
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col class="col-centrat">{{ item.producte.nom }}</ion-col>
                <ion-col class="col-centrat">{{ item.quantitat }}</ion-col>
                <ion-col class="col-centrat">{{ item.preu | currency:'EUR' }}</ion-col>
                <ion-col class="col-centrat"><ion-button
                  fill="clear"
                  color="danger"
                  (click)="eliminarProducte(item.producte.id)">
                <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
              </ion-button></ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      }
    </ion-list>

    <ion-item class="header">
      <ion-grid>
        <ion-row class="row-centered">
          <ion-col></ion-col>
          <ion-col class="text-contorn"><strong>Total: {{ cistella()?.preuTotal| currency:'EUR' }}</strong></ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    
  }@else {
    <ion-item>
      <ion-label>Cistella buida 🧺</ion-label>
    </ion-item>
  }
</ion-card>


<div class="btn-fixed">
  <ion-button
    class="btn-realitzar"
    type="button"
    (click)="realitzarComanda()"
  >Realitzar Comanda</ion-button>
</div>

</ion-content>
