.imatge-top {
    height: 40px;
}

ion-toolbar{
    color: white;
    --background: #6e5d99;
}

ion-content {
    --background: #81bd72;
}


.card-general{
    background-color: #ffffff;
    border-radius: 16px;
    padding: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    margin-bottom: 20px;
}

.col-centrat {
    text-align: center;
    font-size: 1rem;
}


.btn-fixed {
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: 1000;
  }
  

.btn-realitzar {
    height: 3rem;
    font-size: 15px;
    --border-radius: 5px;
    --background: #6e5d99;
}

.col-nom {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  padding-left: 8px;
}