<ion-card>
  <ion-grid>
    <ion-row>

      <ion-col size="4" size-md="3">
        <img [src]="producte().imatge" alt="Imagen de ejemplo" style="width: 100%; border-radius: 10px;">
      </ion-col>

      <ion-col size="8" size-md="9">
        <ion-card-header>
          <ion-card-title>Titol</ion-card-title>
          <ion-card-subtitle>Subtitol</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <p>Descripcio</p>
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
