<ion-header [translucent]="true">
  <ion-toolbar>  
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/perfil"></ion-back-button>
    </ion-buttons> 
    <ion-title slot="end">WALLA-VENDA</ion-title>
    <ion-buttons slot="end">
      <ion-img src="assets/images/logo_taronja.svg" class="imatge-top"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  @if (productes().length > 0) {
    @for (producte of productes(); track producte.id){
      <app-producte-card
      [producte]="producte">

      </app-producte-card>
    }
  } @else {
   <div class="contenidor-buit">
      <ion-icon name="leaf-outline" class="icona-buida"></ion-icon>
      <p class="missatge-buit">Encara no tens productes</p>
      <span class="subtitol-buit">Pots començar a afegir-ne des de la secció corresponent.</span>
    </div>
  }
</ion-content>
